      <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">{{movie2}}<small class="text-muted"> (2)</small></h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">{{}}</h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>---</li>
              </ul>
              <button type="button" class="btn btn-lg btn-block btn-primary">Vote!</button>
            </div>
          </div>