<style>
  h1 {
    text-align: center;
  }
</style>

<h1> Round 2 (Semifinals)</h1>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-5">Match 5</h1>
  <p class="lead">--------------------</p>
  <div class="container">
    <div class="row">
{{!-- here is where we insert the partials for the individual movies for match 5 --}}
      {{> movies/movie-block roundones.[0] }} vs {{> movies/movie-block roundones.[1] }}
    </div>

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-5">Match 6</h1>
      <p class="lead">--------------------</p>
      <div class="container">
        <div class="row">
          {{!-- here is where we insert the partials for the individual movies for match 6 --}}
          {{> movies/movie-block roundones.[2] }} vs {{> movies/movie-block roundones.[3] }}
        </div>
      </div>
      <br>
      <br>
      <button class="btn bg-primary btn-primary submitButton2"> Submit </button>