      {{!-- <div class="card mb-4 box-shadow"> --}}
        <div class="col-sm-6">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">{{ movieTitle }}<small class="text-muted"> </small></h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title"></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>---</li>
              </ul>
              <button type="button" class="btn btn-md btn-block btn-primary votingbutton" data-id="{{ id }}" data-match="{{match}}">Vote!</button>
            </div>
          </div>